.horizon-container {
  position: relative;
}

.horizon-container .horizon-tooltip {
  display: none;
  position: absolute;
  max-width: 320px;
  transform: translate(-50%, 25px);
  padding: 5px;
  border-radius: 3px;
  font: 12px sans-serif;
  color: #eee;
  background: rgba(0,0,0,0.65);
  pointer-events: none;
}